.container{
    width: 80%;
    margin: 0 auto;
    border: 10px solid #9f0627;

    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px; /*1fr 1fr 1fr 1fr 1fr 1fr*/


}

.item {
    padding: 10px;
    background-color: #fe6f8e;
    border: 10px solid #ff315e;
}

.item-1 {
    /* grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; */

    grid-row: 1 / 3;
    grid-column: 1 / 5;
}

.item-2{
    grid-row: 1 / 3 ;
    grid-column: 5 / 7;
}

.item-3{
    /* grid-area: row-start col-start row-end col-end*/
    grid-area: 3 / -1 / -1 / 1
}