*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.video-box{
    width: 350px;
}

.thumbnail, .thumbnail img{
    width: 100%;
}

.thumbnail img {
    border-radius: 10px;
    object-fit: cover;
}

.content {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;
    margin-top: 5px;
}

.channel-img, .channel-img img{
    width: 100%;
}

.channel-img img {
    border-radius: 50%;
}

.text h2{
    font-size: 1rem;
}

.text p{
    font-size: 0.85rem;
}

.time ::before{
    content: "•";
    margin: 0 4px;
}



